<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="/Users/davinzhang/.m2/repository/mysql/mysql-connector-java/8.0.25/mysql-connector-java-8.0.25.jar" />
    <context id="MySQLTables" targetRuntime="MyBatis3">
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter" />
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter" />
        <property name="javaFileEncoding" value="UTF-8" />

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <!-- 配置生成自定义的类序列化接口的插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://39.106.63.237:3306/t_zero?serverTimezone=UTC" userId="t_zero_dev" password="Davin1203!">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="useJSR310Types" value="true" />
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.t.zero.cust.app.bu.model.auto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="auto-mappers" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.t.zero.cust.app.bu.dao.auto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <table tableName="t_zero_cust_tag_info" domainObjectName="CustTagInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="t_zero_cust_tag_group" domainObjectName="CustTagGroup">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="t_zero_cust_app_info" domainObjectName="CustAppInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="t_zero_cust_rel_tag_app" domainObjectName="CustRelTagApp">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="t_zero_cust_rel_tag_group" domainObjectName="CustRelTagGroup">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        
    </context>
</generatorConfiguration>	