<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="/Users/davinzhang/.m2/repository/mysql/mysql-connector-java/8.0.25/mysql-connector-java-8.0.25.jar" />
    <context id="MySQLTables" targetRuntime="MyBatis3">
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter" />
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter" />
        <property name="javaFileEncoding" value="UTF-8" />

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <!-- 配置生成自定义的类序列化接口的插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://47.111.15.144:3306/yg_crm?serverTimezone=UTC&amp;useSSL=false" userId="u_yg_crm" password="tZeroDavin!123">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="useJSR310Types" value="true" />
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.t.zero.yg.crm.bu.model.auto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="auto-mappers" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.t.zero.yg.crm.bu.dao.auto" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <table tableName="yg_corp_info" domainObjectName="CorpInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_corp_account" domainObjectName="CorpAccount">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_corp_contact" domainObjectName="CorpContact">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_corp_address" domainObjectName="CorpAddress">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_customer_info" domainObjectName="CustomerInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_supplier_info" domainObjectName="SupplierInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_facilitator_info" domainObjectName="FacilitatorInfo">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_dictionaries_def" domainObjectName="DictionariesDef">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_field_def" domainObjectName="FieldDef">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_field_group_def" domainObjectName="FieldGroupDef">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        
        <table tableName="yg_buss_def" domainObjectName="BussDef">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>
        <table tableName="yg_customer_def_buss" domainObjectName="CustomerDefBuss">
            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="mysql" identity="true" />
            <columnOverride column="is_deleted" property='deletedFlag' />
        </table>

        
    </context>
</generatorConfiguration>	