<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t.zero.yg.crm.bu.dao.manual.ManualDictionariesDefMapper">
  <resultMap id="BaseResultMap" type="com.t.zero.yg.crm.bu.model.auto.DictionariesDef">
	    <id column="id" jdbcType="INTEGER" property="id" />
	    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
	    <result column="pv_code" jdbcType="VARCHAR" property="pvCode" />
	    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
	    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
	    <result column="buss_code" jdbcType="VARCHAR" property="bussCode" />
	    <result column="related_type" jdbcType="VARCHAR" property="relatedType" />
	    <result column="related_code" jdbcType="VARCHAR" property="relatedCode" />
	    <result column="pv_status" jdbcType="VARCHAR" property="pvStatus" />
	    <result column="created_user_id" jdbcType="VARCHAR" property="createdUserId" />
	    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	    <result column="updated_user_id" jdbcType="VARCHAR" property="updatedUserId" />
	    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
	    <result column="is_deleted" jdbcType="VARCHAR" property="deletedFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.t.zero.yg.crm.bu.model.auto.DictionariesDef">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu May 26 06:49:02 CST 2022.
    -->
    <result column="pv_desc" jdbcType="LONGVARCHAR" property="pvDesc" />
  </resultMap>
    <select id="listDictionariesDef" resultMap="ResultMapWithBLOBs">
		select * from yg_corp_info where is_deleted=0 ${conditions} ${sorted} limit ${cPage}, ${pSize}
	</select>
	
	<select id="countDictionariesDef" resultType="int">
		select count(1) from yg_corp_info  where is_deleted=0 ${conditions}
	</select>
	
	<select id="listSimpleDictionariesDef" resultMap="BaseResultMap">
		select id, pv_code, corp_brief, corp_name, corp_type, pv_status  from yg_corp_info where is_deleted=0 ${conditions} ${sorted}
	</select>
</mapper>